<aside class="sidebar" [class.sidebar-collapsed]="isCollapsed()">
    <div class="header">
        <div class="brand">
            <div class="logo">V</div>

            @if (!isCollapsed()) {
            <div>
                <h1>Vacaturepunt</h1>
                <p>JEX Assessment</p>
            </div>
            }
        </div>

        <button type="button" class="toggle" (click)="toggleSidebar()" [attr.aria-label]="isCollapsed() ? 'Expand sidebar' : 'Collapse sidebar'">
            @if (isCollapsed()) {
            <i class="fa-solid fa-bars"></i>
            }
            @if (!isCollapsed()) {
            <i class="fa-solid fa-bars-staggered"></i>
            }
        </button>
    </div>

    <nav class="navigation">
        @if (!isCollapsed()) {
        <span class="section-title">Public</span>
        }

        <a routerLink="/jobs" routerLinkActive="active" class="navigation-link" title="Jobs">
            <span class="icon"><i class="fa-solid fa-briefcase"></i></span>

            @if (!isCollapsed()) {
            <span>Vacatures</span>
            }
        </a>

        @if (!isCollapsed()) {
        <span class="section-title mt-4">Backoffice</span>
        }

        <a routerLink="/backoffice/companies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="navigation-link" title="Companies">
            <span class="icon"><i class="fa-regular fa-building"></i></span>

            @if (!isCollapsed()) {
            <span>Bedrijven</span>
            }
        </a>
    </nav>
</aside>